#profile-container {
    height: 300px;
    max-height: 400px;
    width:100%;
    background-color: #F6F8FA;
    text-align: center;
}

.profile {
    position: relative;
    top: 50%;
    transform: 			translateY(-50%);
}

#profile-picture {
    height: 180px;
    border-radius: 50%;
}

/* inlining the nav */

.custom-nav {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 1.5em;
}

.custom-nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.custom-nav>ul>li {
    display: inline-block;
}

a:link, a:active, a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #a7a7a7;
    text-decoration: underline !important;
}

ul a:hover {
    color: #a7a7a7;
    cursor: hand;
}

.active {
    color: #a7a7a7 !important;
    text-decoration: underline !important;

}

.time {
    color: #a7a7a7;
    text-align: right;
}

#blogs {
    font-size: 1.5em;
}

.year {
    font-size: 1.7em;
    margin-top: 1em;
    margin-bottom: .3em;
}

.blog-entry {
    padding: .3em 0;
}
