<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    {{> style_sheets}}
</head>
<body>

    <div class="container-fluid">
       <div class="row">
           <div id="profile-container">
               <div class="profile">
                   <img src="/public/images/profile2.png" alt="profile picture" id="profile-picture">
                   <h3>@uda400</h3>
               </div>
           </div>
       </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="custom-nav">
                   <ul>
                       <li><a id='home' href="/">Blogs</a></li>
                       <li><a id='projects' href="/projects">Projects</a></li>
                   </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container blogs-container">
        <div class="row">
            <div class="year col-xs-offset-2 col-xs-12">2016</div>
        </div>
        <div class="row blog-entry">
            <div class="col-xs-offset-2 col-xs-7 col-lg-6">Lorem ipsum dolor sit amet.</div>
            <div class="visible-lg col-lg-4">Lorem ipsum.</div>
        </div>
        <div class="row blog-entry">
            <div class="col-xs-offset-2 col-xs-7 col-lg-6">Lorem ipsum dolor sit amet.</div>
            <div class="visible-lg col-lg-4">Lorem ipsum.</div>
        </div>
        <div class="row blog-entry">
            <div class="col-xs-offset-2 col-xs-7 col-lg-6">Lorem ipsum dolor sit amet.</div>
            <div class="visible-lg col-lg-4">Lorem ipsum.</div>
        </div>
        <div class="row blog-entry">
            <div class="col-xs-offset-2 col-xs-7 col-lg-6">Lorem ipsum dolor sit amet.</div>
            <div class="visible-lg col-lg-4">Lorem ipsum.</div>
        </div>
        <div class="row blog-entry">
            <div class="col-xs-offset-2 col-xs-7 col-lg-6">Lorem ipsum dolor sit amet.</div>
            <div class="visible-lg col-lg-4">Lorem ipsum.</div>
        </div>
        <div class="row blog-entry">
            <div class="col-xs-offset-2 col-xs-7 col-lg-6">Lorem ipsum dolor sit amet.</div>
            <div class="visible-lg col-lg-4">Lorem ipsum.</div>
        </div>
        <div class="row blog-entry">
            <div class="col-xs-offset-2 col-xs-7 col-lg-6">Lorem ipsum dolor sit amet.</div>
            <div class="visible-lg col-lg-4">Lorem ipsum.</div>
        </div>
        <div class="row blog-entry">
            <div class="col-xs-offset-2 col-xs-7 col-lg-6">Lorem ipsum dolor sit amet.</div>
            <div class="visible-lg col-lg-4">Lorem ipsum.</div>
        </div>
        <div class="row blog-entry">
            <div class="col-xs-offset-2 col-xs-7 col-lg-6">Lorem ipsum dolor sit amet.</div>
            <div class="visible-lg col-lg-4">Lorem ipsum.</div>
        </div>
        <div class="row blog-entry">
            <div class="col-xs-offset-2 col-xs-7 col-lg-6">Lorem ipsum dolor sit amet.</div>
            <div class="visible-lg col-lg-4">Lorem ipsum.</div>
        </div>
        <div class="row blog-entry">
            <div class="col-xs-offset-2 col-xs-7 col-lg-6">Lorem ipsum dolor sit amet.</div>
            <div class="visible-lg col-lg-4">Lorem ipsum.</div>
        </div>
    </div>
    {{> footer}}
</body>
</html>
