<!DOCTYPE html>
<html>
<head>
    <title>Projects</title>
    {{> style_sheets}}
</head>
    <body>
        <div class="container">
            <div class="row">
                <div id="projects-head" class="col-xs-12">
                    <h1>Projects</h1>
                </div>
            </div>
        </div>
        {{> nav}}

        <div class="container">
            <div class="row">
            </div>
        </div>
        {{> scripts}}
        <hr class="style-two">
    </body>
</html>
