<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="custom-nav">
                <ul>
                    <li><a id='home' href="/">Blogs</a></li>
                    <li><a id='projects' href="/projects">Projects</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>