<nav id="footer" class="navbar navbar-default navbar-static-bottom">
    <div class="container">
      <div class="row col-sm-12">
        <div style="position:absolute;top:50%;left:50%;transform: translateX(-50%) translateY(50%)">
        Copyright © 2016 Q-Apps.
        </div>
    </div>
    </div>
</nav>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/jquery/dist/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bootstrap/dist/js/bootstrap.min.js"></script>
<script src="js/common.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.js"></script>


<script>
    $(document).ready(function() {

        var docHeight = $(window).height();
        var footerHeight = $('#footer').height();
        var footerTop = $('#footer').position().top + footerHeight;

        if (footerTop < docHeight) {
            $('#footer').css('margin-top', 10+ (docHeight - footerTop) + 'px');
        }
    });
</script>
