<div class="editor-container">
    <pre id="editor"></pre>
</div>

<div class="output-container">
    <h3>Output</h3>
    <div id="output">
        Lorem ipsum dolor sit amet.<br>Enim fugit, quo! Ipsa, natus.<br>At exercitationem reprehenderit vel
        voluptatibus!<br>Blanditiis debitis earum pariatur quia.<br>Blanditiis dicta explicabo quasi voluptatum!<br>
    </div>
</div>

<div class="jasmine-container">
    <h3>Jasmine Bytecode</h3>
    <div class="jasmin">Lorem ipsum dolor sit amet, consectetur adipisicing.<br>Accusantium ad asperiores illo ratione
        rem saepe.<br>Cum eveniet inventore maxime perferendis, praesentium quis.<br>Assumenda consequatur dolorem
        expedita quas quod vel.<br>Adipisci debitis deserunt ipsum omnis sed veritatis!<br>Cum dignissimos enim minima
        officia quaerat totam!<br>Ab assumenda fugit harum pariatur, quaerat repudiandae?<br>Cupiditate dicta incidunt
        libero maxime nostrum, ullam.<br>Ea expedita illum inventore nesciunt, similique sint?<br>Dignissimos doloribus
        fuga laudantium, nisi repellendus voluptatem?<br>Aspernatur consequuntur dolorem dolorum quas quasi
        voluptas.<br>Deleniti et incidunt maiores nihil quos tenetur!<br>Alias dolorum iste iusto labore odit quos.<br>Aperiam,
        incidunt, quo. Alias atque est numquam.<br>Consectetur consequuntur ea excepturi illo laboriosam obcaecati.<br>Aliquid
        cum debitis fuga nobis perspiciatis, quibusdam.<br>Est fugit incidunt obcaecati officia placeat qui?<br>Autem
        eum quis quisquam recusandae sequi unde.<br>Ab, accusamus aperiam cum debitis inventore itaque?<br>Aspernatur
        cumque cupiditate, illo illum quis repellendus.<br>Accusamus, amet at dolores non quia quidem.<br>Ad commodi
        dolor minus nobis quidem. Qui?<br>Illo molestias quaerat qui, rem repellat tempore.<br>Asperiores cum iusto
        neque provident quidem voluptatibus!<br>Autem eum incidunt modi mollitia, nulla saepe.<br>Atque, deserunt eum
        exercitationem modi nihil nisi.<br>Aperiam eveniet iste obcaecati optio repudiandae tempore.<br>Ad adipisci
        eaque ipsa quasi quis tenetur?<br>Aspernatur earum iste, non sed tenetur vitae.<br>Aliquid dolor fuga harum
        illum libero vitae.<br></div>
</div>