<h2> Sample Programs</h2>
<div class="btn-group-vertical btn-programs-group" role="group" aria-label="program List">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default btn-block active">Sample Program 1</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default btn-block">Sample Program 2</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default btn-block">Sample Program 3</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default btn-block">Sample Program 4</button>
    </div>
</div>