<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Test Script Compiler</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/stylesheets/style.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container">
        <div class="row">
            <nav id="top-nav" class="navbar navbar-default navbar-static-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ts-navbar" aria-expanded="false">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Test Script Compiler</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="ts-navbar">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Compiler<span class="sr-only">(current)</span></a></li>
                            <li><a href="#">About</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container -->
            </nav>
        </div>
    </div><!-- /.container -->

    <div class="container-fluid">
       <div class="row">
           <div class="col-lg-3 col-lg-offset-1">
               <h2> some content here</h2>
               <h2> some content here</h2>
               <h2> some content here</h2>
               <h2> some content here</h2>
               <h2> some content here</h2>
               <h2> some content here</h2>
           </div>
           <div class="col-lg-7">
               <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At corporis dolores itaque, porro quam recusandae sapiente. Ab consectetur deserunt eaque et illo itaque nam, necessitatibus porro quas, quia reiciendis tempore.</span><span>Accusamus accusantium aliquam aliquid aperiam aspernatur aut cum distinctio dolorum ducimus eos esse et ex expedita in ipsa iure laboriosam modi nesciunt non nostrum placeat praesentium ratione reiciendis, sed voluptas.</span><span>Accusantium alias, amet consequuntur deserunt dicddta ducimus esse eum fuga fugiat id illum incidunt ipsum magnam molestiae molestias nemo nihil odit quae quis quisquam, similique suscipit veritatis voluptatum. Dignissimos, necessitatibus.</span>
               </p>
           </div>
           <div class="col-lg-1"></div>
       </div>
    </div>

    <div class="container">
            <nav id="footer" class="navbar navbar-default navbar-fixed-bottom">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, dolorem?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, voluptates?</p>
            </nav>
    </div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
