<!DOCTYPE html>
<html>
<head>
    <title>@uda</title>
    {{> style_sheets}}
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div id="profile-container">
            <div class="profile">
                <img src="/public/images/profile2.png" alt="profile picture" id="profile-picture">
                <h3>@uda</h3>
                <div style="margin-top:.5em;">
                    <a target="" href="https://twitter.com/"><i class="fa fa-twitter fa-2x"></i></a>
                    <a target="" href="https://www.linkedin.com/in/udaiveer-singh-b8a3033b"><i class="fa fa-linkedin-square fa-2x"></i></a>
                    <a target="" href="https://medium.com/@uda"><i class="fa fa-medium fa-2x"></i></a>
                    <a target="" href="mailto:uda4000@@gmail.com?subject=Hello"><i class="fa fa-envelope fa-2x"></i></a>
                    <a target="" href="https://github.com/udaiveerS"><i class="fa fa-github fa-2x"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

{{> nav}}

<div id="blogs" class="container">
    <div class="row">
    </div>
</div>

{{> footer}}
<script src="/public/javascripts/main.js"></script>
</body>
</html>
